<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='menu1.css') }}">

</head>
<body>
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet"> -->
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="context" align="center" style="padding:5%">
            <button id="hi">
                <a href="http://127.0.0.1:5000/bookmenu" style="text-decoration:none;color: white;font-weight: bold;">Book Entry</a>
            </button><br><br>
            <button id="hi">
                <a href="http://127.0.0.1:5000/studentmenu" style="text-decoration:none;color: white;font-weight: bold;">Student Entry</a>
            </button><br><br>
            <button id="hi">
                <a href="http://127.0.0.1:5000/issue" style="text-decoration:none;color: white;font-weight: bold;">Issue Details</a>
                </button><br><br>
            <button id="hi">
            <a href="http://127.0.0.1:5000/display" style="text-decoration:none;color: white;font-weight: bold;">Return Details</a>
            </button><br><br>
            <button id="hi">
            <a href="http://127.0.0.1:5000/display" style="text-decoration:none;color: white;font-weight: bold;">Fine Details</a>
            </button><br><br>
            <button id="hi">
                <a href="http://127.0.0.1:5000/display" style="text-decoration:none;color: white;font-weight: bold;">Query</a>
                </button><br><br>

    </div>
    <!-- <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div> -->

    
    
    <!-- <script src="{{ url_for('static',filename='hi.js') }}"></script> -->
</body>
</html>